%p#notice= notice
%p#error= flash[:error]

%p
  %h2
    = 'Product title:'
    = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%hr

- if user_signed_in?
  %h4 Add review:
  = render 'reviews/form'
  %hr

%p
  %b Reviews:
= render reviews

= link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-info'
\|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
