%p#notice= notice
%p#error= flash[:error]

%p
  %h2
    = product.title

.col-sm-12
  .col-sm-10
    %b Description:
    = product.description

  .col-sm-2
    %h2
      %b Price:
      = product.price
    %br
    %b Category
    = product.category.name




.col-sm-12
  %hr
  - if user_signed_in?
    %h4 Add review:

    .col-sm-12
      = render 'reviews/form'
    %br
    %br

    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-info'
    \|
  = link_to 'Back', category_products_path, class: 'btn btn-primary'

.col-sm-12
  %hr
    %h1= 'Reviews:'
  = render reviews

