= simple_form_for [category, product, review] do |f|
  - if review.errors.any?
    #error_explanation
      %h2= "#{pluralize(review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - review.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal.col-sm-10
    .form-group
      = f.label :content ,class: 'col-sm-1 control-label'
      .col-sm-8
        = f.text_area :content, class: 'form-control'
    .form-group
      = f.label :rating ,class: 'col-sm-1 control-label'
      .col-sm-8.text-center
        = f.label "1"
        = f.radio_button :rating, 1 , checked: true

        = f.label "2"
        = f.radio_button :rating, 2

        = f.label "3"
        = f.radio_button :rating, 3

        = f.label "4"
        = f.radio_button :rating, 4

        = f.label "5"
        = f.radio_button :rating, 5
  
  .col-sm-8.text-center
    = f.submit 'Save', class: 'btn btn-default'
